<!DOCTYPE html>
<html class="no-js" lang="en">
<head id="head1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/framework/foundation/css/app.css" />
    <link rel="stylesheet" href="~/framework/foundation/css/foundation-icons.css" />
    <link rel="stylesheet" href="~/framework/foundation/css/wsu-main.css" />
    <link rel="stylesheet" href="~/framework/foundation/css/responsive-tables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/framework/foundation/css/control-strip.css" />
    <link rel="stylesheet" href="http://static.w3big.com/assets/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/framework/foundation/js/modernizr.js"></script>
    <script src="~/framework/foundation//js/jquery.js"></script>
    <script src="~/framework/foundation//js/responsive-tables.js"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MPNLQ3X');
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="~/framework/styles/styles.css" />
    <script type='text/javascript' src='~/framework/prebuilt/display_template.js'></script>
</head>
<body>
    <header class="main-header">
        <div class="skip-to-content"><a href="#skipToContent">skip to content</a></div>
        <span class="switch show-for-large-down"><button type="button"><img src="https://www.weber.edu/ui/images/icons/control-strip/menu.svg" alt="Navigation Menu"></button></span>
        <div class="row">
            <div class="xlarge-7 columns text-left">
                <ul class="top-nav show-for-xlarge-up">
                    <li><a href="http://www.weber.edu">WSU Home</a></li>
                    <li><a href="https://portalapps.weber.edu/eweber/default.aspx">eWeber</a></li>
                    <li><a href="https://portalapps.weber.edu/directory/default.aspx">Campus Directory</a></li>
                    <li><a href="/wsuonline/">WSU Online</a></li>
                    <li class="com-sub-li"><a role="menuitem" aria-haspopup="true" class="com-link">Info for</a><div class="com-sub-container"><ul class="com-sub"><li><a href="/currentstudents/">Current&nbsp;Students</a></li><li><a href="/facultystaff/">Faculty&nbsp;&amp;&nbsp;Staff</a></li><li><a href="http://alumni.weber.edu/">Alumni</a></li><li><a href="/visitors/">Visitors</a></li></ul></div></li>
                </ul>
            </div>
            <div class="xlarge-5 large-12 columns">
                <ul class="header-icons">
                    <li style="display:none;" id="liLogin"><a href="https://portalapps.weber.edu/eweber/default.aspx?usecas=true"><img src="~/images/icons//standard-logged-in.svg" alt="Log In"></a></li>
                    <li style="display:none;" id="liProfile"><button type="button" id="btnProfile"><img src="~/images/icons/profile.svg" alt="Profile Menu and Log Out"></button></li>
                    <li style="display:none;" id="liAlerts"><button type="button" id="alertsButton"><img src="~/images/icons/alerts.svg" alt="Alerts"></button></li>
                    <li><button type="button" id="notificationsButton"><img src="~/images/icons/notifications.svg" alt="Notifications"></button></li>
                    <li><button type="button" id="searchButton"><img src="~/images/icons/search.svg" alt="Search"></button></li>
                    <li><button type="button" id="azButton"><img src="~/images/icons/a-z.svg" alt="A to Z Index"></button></li>
                    <li><a href="http://apps.weber.edu/calendars/" id="calendarLink"><img src="~/images/icons/calendar.svg" alt="Calendar"></a></li>
                    <li><a href="http://www.weber.edu/weberstatemap/" id="mapsLink"><img src="~/images/icons/maps.svg" alt="Maps"></a></li>
                </ul>
                <div class="cover-icons"></div>
            </div>
        </div>
    </header>
    <div class="header-dropdowns">
        <div id="searchDropdown" class="search-dropdown">
            <div class="row">
                <div class="search-bar-desktop">
                    <gcse:search></gcse:search>
                </div>
            </div>
        </div>
        <div id="profileDropdown" class="row" tabindex="0"></div>
        <div id="notificationsDropdown" tabindex="0"></div>
        <div id="alertsDropdown" class="wsu-alert-dropdown" tabindex="0"></div>
        <div id="azDropdown" class="a-z-dropdown" tabindex="0">
            <div class="row">
                <div class="a-z-letters">
                    <button>A</button><button>B</button><button>C</button><button>D</button><button>E</button><button>F</button><button>G</button><button>H</button><button>I</button><button>J</button><button>K</button><button>L</button><button>M</button>
                    <button>N</button><button>O</button><button>P</button><button>Q</button><button>R</button><button>S</button><button>T</button><button>U</button><button>V</button><button>W</button><button>X</button><button>Y</button><button>Z</button>
                </div>
            </div>
        </div>
    </div>
    <aside id="navAccordian" class="sidebar">
        <div>
            <a class="home-link" href="https://www.weber.edu">WSU Home</a>
            <a class="home-link" href="https://portalapps.weber.edu/eweber/">eWeber</a>
            <a class="home-link" href="https://portalapps.weber.edu/directory/default.aspx">Campus Directory</a>
            <a class="home-link" href="https://continue.weber.edu/wsuonline/">WSU Online</a>
        </div>

        <ul class="vertical menu" data-accordion-menu="">
            <li class="accordion-navigation">
                <a class="nav-title" href="#admissions">Admissions</a>
                <ul class="off-canvas-list vertical menu nested" id="admissions">
                    <li><a href="https://www.weber.edu/admissions/">Admissions Home</a></li>
                    <li><a href="https://weber.elluciancrmrecruit.com/Apply/Account/Login">Apply</a></li>
                    <li><a href="https://www.weber.edu/affordability">Affordability</a></li>
                    <li><a href="https://www.weber.edu/admissions/shared/costs.html">Tuition &amp; Costs</a></li>
                    <li><a href="https://www.weber.edu/financialaid">Financial Aid &amp; Scholarships</a></li>
                    <li><a href="https://portalapps.weber.edu/majors/">Majors, Minors &amp; Programs</a></li>
                    <li><a href="https://www.weber.edu/getintoweber/visitcampus.html">Visit Campus</a></li>
                </ul>
            </li>
            <li class="accordion-navigation">
                <a class="nav-title" href="#academics">Academics</a>
                <ul class="vertical menu nested off-canvas-list" id="academics">
                    <li><a href="https://www.weber.edu/academics/">Academics Home</a></li>
                    <li><a href="https://www.weber.edu/majors/">Majors, Minors &amp; Programs</a></li>
                    <li><a href="https://www.weber.edu/academics/colleges-and-departments.html">Colleges &amp; Departments</a></li>
                    <li><a href="https://library.weber.edu/">Stewart Library</a></li>
                    <li><a href="https://www.weber.edu/OUR">Undergraduate Research</a></li>
                    <li><a href="https://www.weber.edu/graduateprograms/">Graduate Programs</a></li>
                    <li><a href="https://apps.weber.edu/calendars/calendars.aspx?calendar=academic">Academic Calendar</a></li>
                    <li><a href="http://catalog.weber.edu/">Catalog</a></li>
                    <li><a href="https://bannerprod.weber.edu/StudentRegistrationSsb/ssb/term/termSelection?mode=search">Class Schedule</a></li>
                </ul>
            </li>
            <li class="accordion-navigation">
                <a class="nav-title" href="#student-life">Student Life &amp; Safety</a>
                <ul class="vertical menu nested off-canvas-list" id="student-life">
                    <li><a href="https://www.weber.edu/safeatweber">Safe@Weber</a></li>
                    <li><a href="https://www.weber.edu/studentlife/">Student Life Home</a></li>
                    <li><a href="https://www.weber.edu/StudentInvolvement">Student Involvement</a></li>
                    <li><a href="https://www.weber.edu/campusrecreation/">Campus Recreation</a></li>
                    <li><a href="https://www.weber.edu/union/">Shepherd Union</a></li>
                    <li><a href="https://apps.weber.edu/calendars/">Events Calendar</a></li>
                    <li><a href="https://www.weber.edu/housing/">Housing &amp; Residence Life</a></li>
                    <li><a href="https://www.weber.edu/StudentAffairs/departments.html">Student Services</a></li>
                </ul>
            </li>
            <li class="accordion-navigation">
                <a class="nav-title" href="#about-wsu">About WSU</a>
                <ul class="vertical menu nested off-canvas-list" id="about-wsu">
                    <li><a href="https://www.weber.edu/AboutWSU/">About WSU Home</a></li>
                    <li><a href="https://www.weber.edu/AboutWSU/history.html">History</a></li>
                    <li><a href="https://www.weber.edu/AboutWSU/Locations.html">Campuses &amp; Locations</a></li>
                    <li><a href="https://www.weber.edu/AboutWSU/awards.html">Honors &amp; Awards</a></li>
                    <li><a href="https://www.weber.edu/wsutoday/">WSU News</a></li>
                    <li><a href="https://jobs.weber.edu/">Jobs at Weber</a></li>
                    <li><a href="https://www.weber.edu/IR/Disclosures.html">Public Disclosures</a></li>
                </ul>
            </li>
            <li class="accordion-navigation">
                <a class="nav-title" href="#info-for">Info for</a>
                <ul class="vertical menu nested off-canvas-list" id="info-for">
                    <li><a href="https://www.weber.edu/currentstudents/">Current Students</a></li>
                    <li><a href="https://www.weber.edu/facultystaff/">Faculty and Staff</a></li>
                    <li><a href="http://www.alumni.weber.edu">Alumni</a></li>
                    <li><a href="https://www.weber.edu/visitors/">Visitors</a></li>
                </ul>
            </li>
        </ul>
        <div>
            <a class="nav-title" href="https://apps.weber.edu/calendars/">Calendars</a>
            <a class="nav-title" href="https://www.weber.edu/weberstatemap/">Maps</a>
            <a class="nav-title" href="https://weber.edu/artscalendar">The Arts</a>
            <a class="nav-title" href="https://www.weberstatesports.com/"><img alt="" src="https://www.weber.edu/ui/images/athletic-logo.png" /> Athletics</a>
            <a class="nav-title" href="https://advancement.weber.edu/s/953/dream125/aa17/start.aspx?gid=16&amp;pgid=1801"><img alt="" src="https://www.weber.edu/ui/images/gift-icon.png" /> Give to WSU</a>
        </div>
    </aside>
    <section class="template-header">
        <div class="row">
            <div>
                <a href="https://www.weber.edu"><img src="https://www.weber.edu/ui/images/wsu-template-logo.svg" alt='Weber State University Logo' class="primary-logo" /></a>
                <div class="secondary-logo-holder">
                    <a href='https://www.weber.edu/chfam'><img src="https://www.weber.edu/wsuimages/Logos/program_sigs/chfam_isolated_white.svg" border="0" alt="Link to Child and Family Studies Home" class="secondary-logo" /></a>
                </div>
            </div>
        </div>
    </section>
    <main role="main" class="main-content-holder">
        <!--Use if statements to change top sub-menu navigation menu-->
        @if (User.IsInRole("Admin"))
        {
            <partial name="_AdminMenu" />
        }
        else if (User.IsInRole("Guardian"))
        {
            <partial name="_GuardianMenu" />
        }
        else if (User.IsInRole("Employee"))
        {
            <partial name="_AdminMenu" />
        }
        else
        {
            <partial name="_StandardMenu" />
        }
        @RenderBody()
    </main>
    <script type="text/javascript" src="~/framework/foundation/scripts/TopLeftFix.js"></script>
    <footer class="footer border-top text-muted">
        <div class="row">
            <aside class="large-12 medium-12 xlarge-4 columns footer-left">
                <div class="text-center contact-info">
                    <a href="https://www.weber.edu"><img alt="WSU Home Page" src="https://www.weber.edu/ui/images/footer-logo.svg" /> </a>
                    <address>Ogden, Utah 84408</address>
                    <a href="tel:18016266000">1-801-626-6000</a><br />
                    <a class="button font-2-7 small contact-us" href="https://www.weber.edu/contactus/"><img alt="" src="https://www.weber.edu/ui/images/icons/footer/email.svg" />&nbsp;Contact Us</a> <!--<a class="button font-2-7 small contact-us" onclick="window.open('https://na.ntrsupport.com/inquiero/web/digisign/digisign.asp?login=I23EBF50AC6BF1A9C700243&amp;lang=us','chatwindow','width=10,height=10');">&nbsp;<img alt="" src="https://www.weber.edu/ui/images/icons/footer/chat.svg" />&nbsp;Live Chat&nbsp;</a>-->
                </div>
                <div class="text-center footer-icons"><a href="https://www.facebook.com/WeberState" target="_blank" title="Like us on Facebook"><img alt="Like us on Facebook" src="https://www.weber.edu/ui/images/icons/footer/facebook-square.svg" /> </a> <a href="https://www.youtube.com/WeberStateU" target="_blank" title="Subscribe to our YouTube Channel"> <img alt="Subscribe to our YouTube Channel" src="https://www.weber.edu/ui/images/icons/footer/youtube.svg" /> </a> <a href="https://twitter.com/WeberStateU" target="_blank" title="Follow us on Twitter"> <img alt="Follow us on Twitter" src="https://www.weber.edu/ui/images/icons/footer/twitter.svg" /> </a> <a href="https://instagram.com/weberstate" target="_blank" title="Follow us on Instagram"> <img alt="Follow us on Instagram" src="https://www.weber.edu/ui/images/icons/footer/instagram.svg" /> </a></div>
            </aside>
            <nav class="xlarge-8 columns footer-right">
                <div class="row">
                    <div class="large-4 medium-12 columns center-for-mobile">
                        <div class="nav-header">Popular</div>
                        <ul>
                            <li><a href="https://portalapps.weber.edu/majors/">Majors, Minors &amp; Programs</a></li>
                            <li><a href="https://www.weber.edu/admissions">Admissions</a></li>
                            <li><a href="https://weber.edu/bookstore">Bookstore</a></li>
                            <li><a href="https://library.weber.edu/">Stewart Library</a></li>
                            <li><a href="https://jobs.weber.edu/">Jobs at Weber</a></li>
                            <li><a href="http://weberstatetickets.com">Weber State Tickets</a></li>
                            <li><a href="https://portalapps.weber.edu/eweber/">eWeber</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-12 columns center-for-mobile">
                        <div class="nav-header">Directories</div>
                        <ul>
                            <li><a href="https://bannerprod.weber.edu/StudentRegistrationSsb/ssb/term/termSelection?mode=search">Class Schedule</a></li>
                            <li><a href="https://apps.weber.edu/calendars/">Calendars</a></li>
                            <li><a href="http://catalog.weber.edu/">Catalog</a></li>
                            <li><a href="https://portalapps.weber.edu/directory/">Campus Directory</a></li>
                            <li><a href="https://www.weber.edu/weberstatemap/">Maps &amp; Locations</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-12 columns center-for-mobile">
                        <div class="nav-header">Resources</div>
                        <ul>
                            <li><a href="https://www.weber.edu/FinancialAid/cares-act-report.html">CARES Act Report</a></li>
                            <li><a href="https://www.weber.edu/safeatweber">Safe@Weber</a></li>
                            <li><a href="https://www.weber.edu/nondiscriminationandaccessibility">Nondiscrimination &amp; Accessibility</a></li>
                            <li><a href="https://www.weber.edu/financialservices/Disclosures.html">Public Disclosures</a></li>
                            <li><a href="https://www.weber.edu/WSUHomePage/WSU-Terms-of-Use.html">WSU Terms of Use and Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row legal-footer">
            <small>&copy;&nbsp;Copyright&nbsp;<span id="year">2021</span>&nbsp;All&nbsp;Rights&nbsp;Reserved</small>
            <small>
                <span class="hide-for-medium-down">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a onclick="translateURL()">&nbsp;Google&nbsp;Translate</a>
            </small>
        </div>
    </footer>
    <script>
        function currentYear() {
            var d = new Date();
            var n = d.getFullYear();
            document.getElementById("year").innerHTML = n;
        }
        currentYear();
    </script>
    <script>
        $("#navDesktop a").each(function () {
            $("#drilldown-menu").append("<li class='hide-for-xlarge-up'>" + this.outerHTML + "</li>");
        });
    </script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/framework/foundation/js/foundation.js"></script>
    <script src="~/framework/foundation/js/what-input.js"></script>
    <script src="~/framework/foundation/js/app.js"></script>
    <script src="~/framework/foundation/scripts/wsu-public.js"></script>
    <script src="~/framework/foundation/scripts/global.js"></script>
    <script src="~/framework/foundation/scripts/mobile.js"></script>
    <script src="~/framework/foundation/scripts/control-strip.js"></script>
    <script src="~/framework/foundation/scripts/flying-focus.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://portalapps.weber.edu/SmartLogin/Scripts/2.0/TravelinLogin.js"></script>
    <script type="text/javascript" src="https://portalapps.weber.edu/lazindex/Scripts/2.1/TravelinAZ.js"></script>
    <script type="text/javascript" src="https://portalapps.weber.edu/lhomepagealerts/Scripts/2.0/travelinalerts.js"></script>
    <script type="text/javascript" src="https://portalapps.weber.edu/ewebersystemmessages/Scripts/2.0/notifications.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <noscript>
        <iframe src='https://www.googletagmanager.com/ns.html?id=GTM-MPNLQ3X'
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
</body>
</html>
