<section class="dropdown-nav">
    <nav id="navDropdown">
        <div class="top-bar-holder">
            <div Class="title-bar" data-responsive-toggle="main-menu" data-hide-for="xlarge">
                <div Class="right">
                    <Button type="button" data-toggle><img src="~/images/images/drilldown-menu.svg" alt="Navigation Menu"></Button>
                </div>
            </div>
            <div class="container">
                <div class="top-bar" id="main-menu">
                    <div class="top-bar-right">
                        <ul Class="menu" id="drilldown-menu" data-auto-height="true" data-responsive-menu="drilldown xlarge-dropdown">
                            <li>
                                <a href="https://www.weber.edu/childrensschool/default.html" target='_self'>Home</a>
                            </li>
                            <li>
                                <a href="https://www.weber.edu/chfam/studentteaching.html" target='_blank'>Field Experience</a>
                            </li>
                            <li>
                                <a href="https://continue.weber.edu/CEC/programs/childrensschool/" target='_blank'>Community Education Center</a>
                            </li>

                            <li>
                                <a href="https://weber.edu/childrensschool/contact.html" target='_self'>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>