@page
@model CS4790GroupProject.Pages.UI.SignInModel
@{
}

<div class="container" style="border: 1px solid black;">
    <div class="row text-center p-3">
        <div class="col-12">
            <h4><b>The Melba S. Lehner Children's School</b></h4>
            
        </div>
    </div>
    <div class="container-fluid row">
        <div>
            <img alt="" class="banner__image" data-interchange="[https://www.weber.edu/wsuimages/childrensschool/banner-800x500.jpg, small], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, large], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, xxlarge]" data-resize="ntda7q-interchange" id="ntda7q-interchange" src="https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg" data-events="resize">
        </div>
    </div>
    <div class="row pt-3 mb-2">
        <div class="col-lg-4 col-sm-12 order-lg-2 ">

                <div class="row">
                    <div class="col-12">
                        <h5 class="text-center"><b>Applications</b></h5>
                        <a href="#">2 1/2 Hour Preschool </a>(this is done by a Lottery drawing)
                        <a href="#">Extended Care Class 105 </a>(available for students of WSU Charter Academy and community for children age 4-6)
                        <a href="#">Extended Hours Preschool Class </a>(available to students, faculty and staff for children age 3-5)
                        <a href="#">Extended Hour One Year Old Class </a>(available to students, faculty and staff for children age 1-2)
                        <a href="#">Extended Hour One Year Old Class </a>(available to students, faculty and staff for children age 1-2)
                    </div>

                </div>
        </div>
        <div class="col-lg-4 col-sm-12 order-lg-3 text-center">
            <h5 class=""><b>Account</b></h5>

            <div class="row">
                <div class="col-12 text-center mt-3">
                    <a class="button bg-color-4 " asp-area="Identity" asp-page="/Account/Register">Apply Now</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <a class="button bg-color-2" asp-area="Identity" asp-page="/Account/Register">Sign In</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <button class="button bg-color-5">Online Payment</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-12 order-lg-1">
            <h5 class="text-center"><b>About</b></h5>
            <p class="text-center">The Melba S. Lehner Children's School, located in the McKay Education Building on the Ogden campus of Weber State University, provides quality care and education for young children from the surrounding communities.</p>

        </div>
    </div>
</div>
<div class="container mt-2" style="border: 1px solid black;">
    <div class="row text-center p-3">
        <div class="col-12">
            <h4><b>The Melba S. Lehner Children's School</b></h4>
        </div>
    </div>
    <div class="container-fluid row">
        <div>
            <img alt="" class="banner__image" data-interchange="[https://www.weber.edu/wsuimages/childrensschool/banner-800x500.jpg, small], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, large], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, xxlarge]" data-resize="ntda7q-interchange" id="ntda7q-interchange" src="https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg" data-events="resize">
        </div>
    </div>
    <div class="row pt-3 mb-2">
        <div class="col-lg-4 col-sm-12 order-lg-2 ">
            <h5 class="text-center"><b>Login</b></h5>
            <div class="container-fluid bg-color-5 shadow">
                <div class="row">
                    <div class="col-12 pt-3 form-group">
                        <form method="post" class="">
                            <span class="color-1">Email:</span>
                            <input type="email" placeholder="email address" class="form-control" />
                            <span class="color-1">Password:</span>
                            <input type="email" placeholder="password" class="form-control" />
                            <button class="button">Sign In</button>
                            <a href="#" class="color-1">Forgot Password?</a>
                        </form>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-12 order-lg-3 text-center">
            <h5 class=""><b>Payments</b></h5>
            <button>Online Payment</button>
        </div>
        <div class="col-lg-4 col-sm-12 order-lg-1">
            <h5 class="text-center"><b>About</b></h5>
            <p class="text-center">The system is designed to aid the management of daycare enrollments. Guardians  can submit applications, make payments and more.</p>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <a class="button large color-4" asp-area="Identity" asp-page="/Account/Register">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2" style="border: 1px solid black">
    <div class="row">
        <div class="col-lg-9">
            <div class="row text-center p-3">
                <div class="col-12">
                    <h4><b>The Melba S. Lehner Children's School</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border-bottom">
                    <img alt="" class="banner__image" data-interchange="[https://www.weber.edu/wsuimages/childrensschool/banner-800x500.jpg, small], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, large], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, xxlarge]" data-resize="ntda7q-interchange" id="ntda7q-interchange" src="https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg" data-events="resize">
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-center">
                    <h5 class="text-center"><b>About</b></h5>
                    <p class="">The system is designed to aid the management of daycare enrollments. Guardians  can submit applications, make payments and more.</p>
                </div>
                <div class="col-4">
                    <h5 class="text-center"><b>Resources</b></h5>
                </div>
                <div class="col-4 text-center">
                    <h5 class="text-center"><b>Payments</b></h5>
                    <button>Online Payment</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pt-3">
            <h5 class="text-center"><b>Login</b></h5>
            <div class="container-fluid bg-color-5 border shadow-lg">
                <form method="post">
                    <div class="row">
                        <div class="col-12 pt-3 form-group">

                            <span class="color-1">Email:</span>
                            <input type="email" placeholder="email address" class="form-control" />
                            <span class="color-1">Password:</span>
                            <input type="email" placeholder="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="button color-4">Sign In</button>
                        </div>
                        <div class="col-6">
                            <a href="#" class="color-1">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="button large">Apply Now</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2" style="border: 1px solid black;">
    <div class="row text-center p-3">
        <div class="col-12">
            <h4><b>The Melba S. Lehner Children's School</b></h4>

        </div>
    </div>
    <div class="container-fluid row">
        <div>
            <img alt="" class="banner__image" data-interchange="[https://www.weber.edu/wsuimages/childrensschool/banner-800x500.jpg, small], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, large], [https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg, xxlarge]" data-resize="ntda7q-interchange" id="ntda7q-interchange" src="https://www.weber.edu/wsuimages/childrensschool/childrens_homepage.jpg" data-events="resize">
        </div>
    </div>
    <div class="row pt-3 mb-2">
        <div class="col-12">
            <ul id="tabs" class="nav nav-tabs">

                @*<li class="nav-item"><a href="" data-target="#home1" data-toggle="tab" class="nav-link small active">Home</a></li>
                <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small ">Programs</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small">Resources</a></li>
                <li class="nav-item"><a href="" data-target="#messages" data-toggle="tab" class="nav-link small">Contact</a></li>*@
            </ul>
            <br>
            <div id="tabsContent" class="tab-content active">
                <div id="home1" class="tab-pane fade">
                    @*<div class="list-group"><a href="" class="list-group-item d-inline-block">
                        <span class="float-right badge badge-pill badge-dark">51</span>Home Link</a> 
                    <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Link 2</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Link 3</a> <a href="" class="list-group-item d-inline-block text-muted">Link n..</a></div>*@
                </div>
                <div id="profile1" class="tab-pane fade show">
                    <div class="row pb-2">
                        <div class="col-md-7">
                            @*<p>Tabs can be used to contain a variety of content &amp; elements. They are a good way to group <a href="" class="link">relevant content</a>. Display initial content in context to the user. Enable the user to flow through <a href="" class="link">more</a> information as needed. </p>*@
                        </div>
                        <div class="col-md-5"><img src="//dummyimage.com/1005x559.png/5fa2dd/ffffff" class="float-right img-fluid img-rounded"></div>
                    </div>
                </div>
                <div id="messages1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">44</span> Message 1</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Message 2</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Message 3</a> <a href="" class="list-group-item d-inline-block text-muted">Message n..</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
