@page
@model CS4790GroupProject.Pages.Admin.RelationshipTypes.IndexModel
@{
    ViewData["Title"] = "Relationship Types";
}
<div class="container">
    <h3>
        Relationship Types
        <span class="float-right">
            <a asp-page="Upsert" asp-route-RelationshipID="0"><i class="fi-plus success-color">‌</i></a>
        </span>
    </h3>
    @foreach (var relationshipType in Model.RelationshipTypes)
    {
        <div class="card text-dark mb-3 rounded shadow-lg shadow">
            <div class="card-header bg-color-5">
                @relationshipType.RelationshipDescription
                <span class="float-right">
                    <a asp-page="Upsert" asp-route-RelationshipID="@relationshipType.RelationshipID"><i class="fi-page-edit warning-color large">‌</i></a>
                </span>
            </div>
        </div>
    }
</div>