@page
@model CS4790GroupProject.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-3">

    <div class="row">
        <fieldset class="col-md-6 offset-md-3">
            <legend class="color-1">WildcatCoders</legend>

            <div class="row mb-2">
                <div class="col-12">
                    <span class="info-text font-weight-bold">About</span>
                </div>
                <div class="col-12">
                    <p class="pl-3 mb-2">
                        This website demostrates the collective work and effort produced
                        by the WildCatCoder team. The website was created for a capstone project
                        for our Computer Science students here at Weber. Here we demostrate a prototype
                        to our implemenation of the interactions of a guardian, admin
                        and employee uses of a day care system.
                    </p>

                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    
                </div>
                <div class="col-12">
                    <div class="text-center my-3"><img class="w-75" src="~/images/images/wildcatcodersimage.png" alt="Image of the WildCatCoder team image"/></div>
                    <span class="info-text font-weight-bold">WildCatCoder Team</span>
                    <span class="pl-2 pb-2 info-text">Members and Emails</span>
                    <span class="pl-3 pb-2 info-text">Aubrey Davidson - aubrey.davidson1@gmail.com</span>
                    <span class="pl-3 pb-2 info-text">Ryan Downard - ryanbdownard@gmail.com</span>
                    <span class="pl-3 pb-2 info-text">John Gonzalez - gonjohn29@yahoo.com</span>
                    <span class="pl-3 pb-2 info-text">Khumbulani Ndlovu - khumbendlovu@gmail.com</span>
                    <span class="pl-3 pb-2 info-text">Travis Viall - travisviall@mail.weber.edu</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <span class="info-text font-weight-bold">Team C# like a Razor</span>
                </div>
                <div class="col-12">
                    <span class="pl-2 pb-2 info-text">Members and Emails</span>
                    <span class="pl-3 pb-1 info-text">Trinity Kerr - trinity.kerr6@gmail.com </span>
                    <span class="pl-3 pb-1 info-text">Brayden John Bingham - binghambrayden@gmail.com</span>
                    <span class="pl-3 pb-1 info-text">Colton Anderson - coltonanderson404@gmail.com </span>
                    <span class="pl-3 pb-1 info-text">Brittney Bailey Arave - brittneybailey11@gmail.com </span>
                    <span class="pl-3 pb-1 info-text">Harlee Turnbow - harlee.turnbow@gmail.com </span>
                </div>
            </div>
            
            
            <div class="row mb-2">
                <div class="col-12">
                    <span class="info-text font-weight-bold">Team PlaceHolder</span>
                </div>
                <div class="col-12">
                    <span class="pl-3 pb-1 info-text">Nathaniel Barlow</span>
                    <span class="pl-3 pb-1 info-text">Henry Doan</span>
                    <span class="pl-3 pb-1 info-text">Alex Field</span>
                    <span class="pl-3 pb-1 info-text">Hannah Jex</span>
                </div>
            </div>            
            
            <div class="row mb-2">
                <div class="col-12">
                    <span class="info-text font-weight-bold">Honorable Mentions: Team Git er' Done</span>
                </div>
                <div class="col-12">
                    <span class="pl-3 pb-1 info-text">Dax Allen</span>
                    <span class="pl-3 pb-1 info-text">Giancarlo Gutierrez </span>
                    <span class="pl-3 pb-1 info-text">Skyler Noble</span>
                    <span class="pl-3 pb-1 info-text">Cole Smith</span>
                </div>
            </div>            
            
            <div class="row mb-2">
                <div class="col-12">
                    <span class="info-text font-weight-bold">Special Thanks</span>
                </div>
                <div class="col-12">
                    <span class="pl-3 pb-1 info-text">Dr. Richard Fry</span>
                    <span class="pl-3 pb-1 info-text">The Melba S. Lehner Children's School</span>
                </div>
            </div>

        </fieldset>
    </div>
</div>