@page
@model CS4790GroupProject.Pages.SessionExpiredModel
@{
    ViewData["Title"] = "Expired Session";
}
<div class="container">
    <div class="row">
        <div class="h4 col-12 m-5">
            <i class="fi-alert alert-color h3"></i>Your session has expired.<br />
            <a asp-page="/Index" class="button shadow">LOGIN</a>
        </div>
    </div>
</div>